* {
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #3d4543;
    padding: 5px 0;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px;
}

.logo img {
    height: 40px;
    width: 40px;
}

.nav-container p {
    margin-left: 10px;
    font-style: italic;
    font-size: 22px;
}

.nav-links {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    font-size: 18px;
}

.nav-links a {
    margin-left: 15px;
    color: white;
    text-decoration: none;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: transform 0.3s ease;
}

@media(max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        text-align: center;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #3d4543;
        z-index: 1000;
    }

    .nav-links.open {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }

    .menu-open .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .menu-open .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-open .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}
